.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 500px;
    margin: 100px auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 200px;
    
}

.resetmain{

    background-color: #282c34;

    height: 100vh;
}

.reset-password-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.reset-password-form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
}

.input-wrapper {
    position: relative;
}

.reset-password-input1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 50px;
}

.reset-password-input2 {
    width: 110%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 25px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
   margin-right: -40px;
}

.reset-password-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.reset-password-button:hover {
    background-color: #0056b3;
}

.reset-password-message {
    margin-top: 15px;
    color: red;
    text-align: center;
}


.validation-errors {
    margin-top: 15px;
    color: red;
}

.error-message {
    margin: 5px 0;
}


.tick-icon {
    margin-left: 10px; /* Space between input and tick */
    color: green; /* Color of the tick mark */
    font-size: 20px; /* Adjust size as needed */
    vertical-align: middle; /* Align vertically with the input */
    margin-top: -50px;
}
